{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-6">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Datos</h3>
    </div>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-horizontal' } }) }}
      <div class="box-body">
        {{ form_label(form.current_password) }}
        {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}} ) }}
        {{ form_errors(form.current_password) }}

        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}} ) }}
        {{ form_errors(form.plainPassword.first) }}

        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}} ) }}
        {{ form_errors(form.plainPassword.second) }}
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right">{{ 'change_password.submit'|trans }}</button>
      </div>
    {{ form_end(form) }}
  </div>
</div>